@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#8ce1ff" >
    <h1>SIPL</h1>
    <p class="lead">SIPL Institutions.</p>
   </div>

<div class="btn-default" style="background-color:greenyellow">
    <div class="col-md-4">
        <h2>Gallary</h2>
         </div>
    <div class="col-md-4">
        <h2>Get more Info</h2>
        </div>
    <div class="col-md-4">
        <h2>Placements</h2>
        </div>
</div>